<launch4jConfig>
  <headerType>gui</headerType>
  <outfile>morning.exe</outfile>
  <jar>./app-all.jar</jar>
  <dontWrapJar>false</dontWrapJar>
  <errTitle>Oops!</errTitle>
  <cmdLine>
    --module-path ./lib/win --add-modules javafx.controls,javafx.fxml
  </cmdLine>
  <classPath mainClass="org.example.App">
    <mainClass>com.example.App</mainClass>
    <cp>app-all.jar</cp>
    <cp>./lib/win/javafx-base-21-win.jar</cp>
    <cp>./lib/win/javafx-controls-21-win.jar</cp>
    <cp>./lib/win/javafx-fxml-21-win.jar</cp>
    <cp>./lib/win/javafx-graphics-21-win.jar</cp>
  </classPath>
  <jre>
    <path>jre</path>
    <minVersion>21</minVersion>
  </jre>
    <versionInfo>
    <fileVersion>1.0.0.0</fileVersion>
    <txtFileVersion>1.0.0</txtFileVersion>
    <fileDescription>Win64</fileDescription>
    <copyright>N/A</copyright>
    <productVersion>1.0.0.0</productVersion>
    <txtProductVersion>text</txtProductVersion>
    <productName>morning</productName>
    <internalName>morning</internalName>
    <originalFilename>morning.exe</originalFilename>
  </versionInfo>
</launch4jConfig>